header{
    color: white;
}
.jumbo{
    min-height: 200px;
    color: white;
}
.row{
}
.contact{
    height: 140px;
}
footer{
    height: 100px;
    color: white;
}
.bar{
    width: 26%;
    height: 5px;
    background-color: rgb(40, 27, 235);
  }
img{
    width: 100%;
}
.content{
    height: 100%;
}
.txt-right{
    text-align: right;
}
.my-pad{
    padding-top: 50px;
}
.AVTR{
   width: 100px;}
   
.whitey{
    background-color:white;
}
.hdr{
    height: 80px;
    line-height: 80px;
}

#contacts textarea{
    width: 100%;
    height: 200px;
}

#contacts .form-control{
    border-radius: 0;
    border: 0;
    border-bottom: 1px solid black;
}
.star{
    font-size: 44px;
    color: rgb(40, 27, 235);
}
.starw{
    font-size: 44px;
    color: white;
}