header{
    color: white;
}
.jumbo{
    min-height: 200px;
}
.row{
    height: 140px;
}
.contact{
    height: 140px;
}
footer{
    height: 100px;
}

img{
    width: 100%;
}
.content{
    height: 300px;
}