header{
    color: white;
}
.jumbo{
    min-height: 200px;
    color: white;
}
.row{
}
.contact{
    height: 140px;
}
footer{
    height: 100px;
    color: white;
}

img{
    width: 100%;
}
.content{
    height: 300px;
}
.txt-right{
    text-align: right;
}